body {
    background-color:#993d00;
}
.header {
    background-image: url("https://img.grouponcdn.com/deal/5EXVDNMDEe1mtyEK6Pgp/ZC-1057x634/v1/c700x420.jpg");
    background-position:center;
    height:420px;
    width:700px;
}
.header-text {
    font-family:"Trattatello";
    text-align:center;
    color:rgb(225,222,223);
}